{% extends "layout.html" %}

{% block title %} Amulya Bommaraboina - Portfolio {% endblock %}

{% block content %}
    <section id="home">
        <div class="profile-container">
            <img src="https://i.imghippo.com/files/aYH8542vfo.jpeg" alt="Amulya Bommaraboina" class="profile-image" border="0" width="200" height="300">
        </div>
        <h2>About Me</h2>
        <div class="about">
            <p>Hello! I'm <strong>Amulya Bommaraboina</strong>, a passionate developer who loves building creative projects. I find joy in exploring new places and experiencing different cultures. With a deep love for travel, every journey becomes a story to cherish. Despite the wanderlust, family always comes first, serving as the foundation of strength and happiness.</p>
        </div>
    </section>
{% endblock %}