{% extends "layout.html" %}

{% block title %} Projects - Amulya Bommaraboina {% endblock %}


{% block content %}

    <section id="projects" class="section">
        <div>class="container">
            <h2>Projects</h2>
            <div class="projects-container">
                <article  class="project">
                <h3>My Portfolio</h3>
                <p>A personal portfolio showcasing my skills and projects.</p>
                <a href="https://github.com/Amulya-2304/My_portfolio.git" target="_blank">View on GitHub</a>
                </article>

            <article class="project">
                <h3>Recipes Website</h3>
                <p>A collection of delicious recipes from around the world.</p>
                <a href="https://github.com/Amulya-2304/recipes.git" target="_blank">View on GitHub</a>
            </article>
            <article class="project">
                <h3>Word Chain Game</h3>
                <p>An interactive word game built with Python.</p>
                <a href="https://github.com/Amulya-2304/Word_chain_game.git" target="_blank">View on GitHub</a>
                </article>
            </div>
        </div>
    </section>

{% endblock %}